{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.2/css/bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <!-- <a class="navbar-brand" href="#">
        <img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-pills">
            <li class="nav-item active">
                <a class="nav-link" href="/index/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">知识仓库</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">机器学习</a>
                    <a class="dropdown-item" href="#">知识图谱</a>
                    <!--<div class="dropdown-divider"></div>-->
                    <a class="dropdown-item" href="#">数据结构</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/list">用户信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">其他</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="请输入查询内容" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">查询</button>
        </form>
    </div>
</nav>
<script src="{% static 'jQuery/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'bootstrap-4.6.2/js/bootstrap.min.js' %}"></script>
<div class="container">
    <h1>用户信息</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>手机号</th>
            <th>归属地</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.phone }}</td>
                <td>{{ row.city }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>